.carousel-item-invisible {
  visibility: hidden;
}

.iniciar-receita {
  bottom: 0;
  position: fixed;
}

.carousel-image {
  width: 100px;
}

.carousel-control-next {
  left: 150px;
  position: relative;
}
