.carousel-item-invisible {
  visibility: hidden;
}

.carousel-image {
  width: 100px;
}

/* .carousel-control-next {
  left: 150px;
  position: relative;
} */

.carousel-inner {
  display: flex;
}

.carousel-item {
  margin: 0 5px;
}

.recomendações {
  display: flex;
  width: 360px;
  justify-content: center;
  margin: 20px 0 40px 0;
}
.recomendações :nth-child(1) { order: 2; }
.recomendações :nth-child(2) { order: 1; }
.recomendações :nth-child(3) { order: 3; }

.carousel-control-prev {
  align-self: center;
}

.carousel-control-next {
  align-self: center;
}

.recomendações .icone {
  width: 50px;
  height: 50px;
}
