.header-receita {
  align-items: center;
  display: flex;
  flex-direction: column;

  /* background-color: white; */
}

.botões-interacoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 150px;
}

.detalhes {
  margin: 30px 0;
}

.iniciar-finalizar-receita {
  align-items: center;
  background-color: rgb(150, 221, 79);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
}

.iniciar-finalizar-receita:disabled {
  background-color: rgba(218, 86, 86, 0.945);
}

.recipe-title {
  color: #440074;
  font-size: 60px;
  margin-bottom: 35px;
  margin-top: 10px;
}

.container-details {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.image-details {
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgb(240, 238, 158);
}

.ingredientes-title {
  color: #440074;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.botoes-interacoes {
  width: ((600px / 2) -5px);
}

.botao-interacao {
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgb(240, 238, 158);
  height: 60px;
  margin: 2px 10px;
  width: 80px;
}

.ingredientes-instrucoes {
  display: flex;
  margin: 20px;
}

.image-video {
  display: flex;
  justify-content: space-evenly;
}

.video {
  margin-top: 15%;
}
