.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  top: 100px;
  width: 100%;
}

.card-img img {
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: 0.7s;

  /* pega o total de espaço da tela divide por 4 cards e subtrai as margens */
  width: calc(100% / 4 - 20px);
}

.card-img {
  filter: grayscale(0%);
  height: calc(((100vw - (100vw - 900px)) / 1.7 - 20px) / 2);
  transition: all 0.7s ease-in-out;
}

/* https://www.demorodavel.com/como-colocar-um-texto-por-cima-de-uma-foto-no-html/ */

/* https://www.cursoemvideo.com/course/html5 aula 10 */
.text-houver {
  color: white;
  font-size: 30px;
  height: calc(((100vw - (100vw - 900px)) / 1.7 - 20px) / 2);
  line-height: 100%;
  opacity: 0;
  padding-top: 25%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.text-houver:hover {
  opacity: 100%;
}

.card-img:hover {
  box-shadow: none;
  filter: grayscale(150%);
}

.card:hover {
  transform: scale(1.2);
}

.card-link p {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.card-link {
  background-color: #8800c2;
  border-radius: 10px;
  color: antiquewhite;
  font-size: 20px;
  height: 60px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  transition: 0.8s ease;
  width: 90%;
}

a {
  text-decoration: none;
}

/* tela ExplorarComidasArea */
.select {
  background-color: rgba(136, 0, 194, 0.4);
  color: white;
  font-size: 20px;
  width: 200px;
}

@media ( max-width : 768px ) {

  .card {
    width: calc(100% / 2 - 20px);
  }

  .card-img {
    height: calc((100vw / 2 - 20px) / 2);
  }
}

@media ( max-width : 425px ) {

  .card {
    width: calc(100% - 20px);
  }

  .card-img {
    height: calc((100vw - 20px) / 2);
  }
}

@media ( max-width : 320px ) {

  .card {
    margin: 10px 0;
    width: calc(100%);
  }

  .card-img {
    height: calc(100vw / 2);
  }
}
