@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap') ;

/* FONTE: www.devmedia.com.br na guia de CSS. O acesso só é restrito a usuários PRO */
* {
  box-sizing: border-box;

  /* font-family: "Concert One"; */
  font-family: sans-serif;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #440074;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}